@import url('reset.css');
@import url('font_declaration.css');

body
{
	font-family: 'Varela';
	font-size: 14px;
	background-color: rgb(240, 240, 240);
	color: #2A2829;
}

main
{
	width: 70%;
	height: 100%;
	margin: 3em auto;
	overflow: auto;
	display: block;
}

nav
{
	display: block;
	margin-bottom: 1em;
}

nav ul
{
	display: block;
	overflow: visible;
	height: 3em;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

nav li
{
	display: inline-block;
	height: 2em;
	margin: 0 .1em;
	width: auto;
	background-color: rgba(221, 221, 236, 1);
	border-bottom: solid 2px rgb(120,120,140);
	box-sizing: content-box;
}


nav li:hover
{
	transition: 0.2s;
	border-bottom: solid 4px rgb(120,120,140);
}

nav li a
{
	display: block;
	position: relative;
	top: 50%;
	text-decoration: none;
	color: inherit;
	margin-top: -0.5em;
	padding: 0 1em;
}

nav li a:visited
{
	color: inherit;
}

nav li span
{
	position: relative;
	top: 25%;
}

section
{
	clear: both;
	display: block;
	overflow: auto;
	width: auto;
	height: 100%;
}

main section article
{
	display: block;
	float: left;
	width: 150px;
	height: 150px;
	margin: .2em;
	font-size: 1.6em;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/*border: solid 2px rgb(120,120,140);*/
	box-shadow: 0 0 .09em rgb(56,56,120);
}

#tiles article
{
	cursor: pointer;
}

article
{
	text-align: center;
}

article i
{
	position: relative;
	text-shadow: 1px 1px 0 rgb(200,200,200);
	top: 50%;
}

#preview
{
	opacity: 0;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(45,45,45, .6);
}

#preview article
{
	position: relative;
	margin-left: -300px;
	top: 25px;
	left: 50%;
	width: 600px;
	height: 500px;
	background-color: rgb(230,230,230);
	box-shadow: 0 0 .5em #444;
}

#preview article > div:nth-of-type(1)
{
	float: left;
	margin: 1em;
	width: 200px;
	height: 200px;
	box-shadow: 0 0 .2em rgba(56,56,90, .5);
}

#preview article > div:nth-of-type(2)
{
	float: left;
}

#preview article > div:nth-of-type(2) > h3
{
	margin: .5em 0 0 0;
}

#preview h2
{
	font-size: 4em;
	text-align: center;
	color: white;
}