@font-face
{
    font-family: Varela;
    src: url('../fonts/Varela-Regular.ttf');
    font-weight: 400;
}

@font-face
{
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf');
    font-weight: 300;
}

@font-face
{
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf');
    font-weight: 400;
}
@font-face
{
	font-family: 'Redacted';
	src: url('../fonts/redacted-regular.woff');
}
@font-face
{
	font-family: 'Redacted Light';
	src: url('../fonts/redacted-script-light.woff');
}
@font-face
{
	font-family: 'Redacted Bold';
	src: url('../fonts/redacted-script-Bold.woff');
}
@font-face
{
	font-family: 'Redacted Regular';
	src: url('../fonts/redacted-script-regular.woff');
}